@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Oswald:wght@500;600&family=Raleway:wght@200&family=Roboto:ital,wght@0,500;1,300&display=swap');
* {
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#logoimg {
    width: 100px;
}

nav {
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    font-size: 20px;
}

ul {
    margin-left: 300px;
}

li {
    margin-left: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

button {
    margin-top: 5px;
    font-size: 20px;
}
